@media (max-width: 1300px) {
    /* navbar */
    .navbar_wrapper .menu-navbar-nav {
        width: auto;
    }
    .catagory_wrapper .titel {
        margin-top: 50px;
    }
}

@media (max-width: 1230px) {
    /* navbar */
    .navbar_wrapper .nav-item {
        margin: 0 5px;
    }
    .navbar_wrapper .nav-item .nav-link {
        font-size: 10px;
    }
    .catagory_wrapper .titel {
        margin-top: 50px;
    }
}

@media (max-width: 1070px) {
    .navbar_wrapper .menu-navbar-nav {
        width: auto;
    }
    .navbar_wrapper .ar-button,
    .navbar_wrapper .ar-button-fill {
        padding: 6px 5px;
        font-size: 10px;
    }
    /* 3.Notice */
    .notice_wrapper .card {
        width: 100%;
    }
    .notice_wrapper {
        padding: 15px 20px !important;
    }
    .catagory_wrapper .titel {
        margin-top: 50px;
    }
    .footer_wrapper .footer_container .col_2 {
        font-size: x-small;
    }
}

@media (max-width: 991px) {
    /* navbar */
    .navbar_wrapper .navbar-brand img {
        width: 150px;
    }
    .navbar_wrapper .navbar-togglar:focus {
        box-shadow: none;
    }
    .navbar_wrapper .menu-navbar-nav {
        text-align: center;
    }
    .navbar_wrapper .nav-item .nav-link {
        margin-top: 15px;
        font-size: 18px;
    }
    .navbar_wrapper .nav-item:last-child .nav-link {
        margin-bottom: 20px;
    }
    .navbar_wrapper .ar-button,
    .navbar_wrapper .ar-button-fill {
        margin-bottom: 15px;
        padding: 6px 30px;
        font-size: 17px;
    }
    .navbar_wrapper .navbar-nav {
        background-color: white;
        transition: all 0.3s ease;
        width: 100%;
    }
    /* 2.Banner */
    .banner_wrapper .banner_carousel .carousel-item img {
        height: auto !important;
    }
    .banner_wrapper {
        padding: 100px 5px 30px 5px;
        display: flex;
        justify-content: center;
    }
    .banner_wrapper .banner-side .banner-top {
        margin: 15px 0px;
    }
    .banner_wrapper .banner-photos {
        max-width: 100%;
        height: 100%;
    }
    /* 3.Notice */
    .notice_wrapper {
        padding: 5px 10px !important;
    }
    .notice_wrapper .card {
        width: 100%;
    }
    /* 4.Catagories */
    .catagory_wrapper .titel {
        margin-top: 50px;
    }
    .about_wrapper {
        padding: 20px 15px 50px 15px;
    }
    /* 5.Footer */
    .footer_wrapper .footer_container .col_2,
    .footer_wrapper .footer_container .col_3 {
        text-align: center;
    }
    .footer_wrapper .footer_container .col_1 {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_wrapper .footer_container .col_3 {
        padding: 0;
    }
    .footer_wrapper .footer_container .col_3 .social_links {
        justify-content: center;
    }
    .footer_wrapper .footer_container .icon i {
        text-align: center !important;
        line-height: 1.75em;
    }
    .footer_wrapper .footer_container .contetent {
        margin-right: 26px;
    }
    .footer_wrapper .footer_container .copyrights_container .copyrights {
        justify-content: center;
    }
    .footer_wrapper .footer_container .copyrights_container .copyrights p {
        margin: 0;
    }
    .footer_wrapper .footer_container .copyrights_container .copyrights .left {
        position: relative;
        left: 0;
    }
}